# SwiftPM
.build/
.swiftpm/

# Xcode local build output
build/
DerivedData/

# Xcode user-specific state
*.xcuserstate
xcuserdata/
*.xccheckout
*.xcscmblueprint

# macOS filesystem metadata
.DS_Store
